GOOGLE_API_KEY=your_google_api_key
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_NAME=medical_db
GOOGLE_APPLICATION_CREDENTIALS=path/to/credentials.json
FLASK_SECRET_KEY=dev-key-please-change
