*.env
*.npz
*.pt 
*.pyc
__pycache__/
!model_epoch_66.pt
!model_epoch_13.pt

gen-lang-client-0704427172-e146f940df9a.json
notes.txt

chroma_db/
test_files/
uploads/
.vscode/settings.json
app/workflow/ml_models/vision_models/colon_tissue_classifier/training/datasets/pathmnist_128.txt
app/workflow/ml_models/vision_models/colon_tissue_classifier/training/datasets/pathmnist.npz.txt
